{% extends "coach_layout.html" %}
{% block content %}
<div class="jumbo">
    <h2>{{ session['coach_email'] }}'s profile</h2>
</div>
<hr />
<div class="row">
    <h3>Availability</h3>
</div>
<div class="row">
    <h4>Past</h4>
    <div id="past-availability">
        {% if slots_for_ux['past']|length == 0 %}
        <div><span>No past appointments.</span></div>
        {% else %}
        {% for slot in slots_for_ux['past'] %}
        <div>
            <span>{{ slot['display_text'] }}</span>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <h4>Booked</h4>
    <div id="booked-availability">
        {% if slots_for_ux['booked']|length == 0 %}
        <div><span>No booked appointments.</span></div>
        {% else %}
        {% for slot in slots_for_ux['booked'] %}
        <div class="booked-appointment">
            <span>{{ slot['display_text'] }}</span>
            <button data-availability-slot-id="{{ slot['id'] }}">Cancel</button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <h4>Unbooked</h4>
    <div id="upcoming-availability">
        {% if slots_for_ux['upcoming']|length == 0 %}
        <div><span>No unbooked time slots.</span></div>
        {% else %}
        {% for slot in slots_for_ux['upcoming'] %}
        <div class="upcoming-appointment">
            <span>{{ slot['display_text'] }}</span>
            <button data-availability-slot-id="{{ slot['id'] }}">Delete</button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <h4>Add availability</h4>
    <div>
        <div>
            <div><span>Pick a start time that doesn't collide with an existing availability slot.</span></div>
            <div id="add-availability-control">
                <input type="date" min="{{ current_datetime.date() }}">
                <input type="time" list="times">
                <datalist id="times">
                    {% for time_slot in time_slot_generator %}
                    <option>{{ time_slot }}</option>
                    {% endfor %}
                </datalist>
                <button>Add</button>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <h3>Clientele</h3>
</div>
{% if existing_clients != None: %}
<div class="row">
    <h4>Existing clients</h4>
    <div id="existing-clients">
        {% if existing_clients|length == 0 %}
        <div id="no-existing-clients"><span>No existing clients.</span></div>
        {% else %}
        {% for existing_client in existing_clients %}
        <div>
            <span><b>Name:</b> {{ existing_client.first_name }} {{ existing_client.last_name }}</span>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endif %}
{% if potential_clients != None: %}
<div class="row">
    <h4>Potential clients</h4>
    <div id="potential-clients">
        {% if potential_clients|length == 0 %}
        <div id="no-potential-clients"><span>No potential clients.</span></div>
        {% else %}
        {% for potential_client in potential_clients %}
        <div>
            <span><b>Name:</b> {{ potential_client.first_name }} {{ potential_client.last_name }}</span><button data-client-id="{{ potential_client.customer_id }}">Add to clientele</button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endif %}
<script type="text/javascript">
    var $addAvailabilityControl = $('#add-availability-control');
    $addAvailabilityControl.find('button').click(function addAvailability() {
        var availabilityValues = [];
        $addAvailabilityControl.find('input').each(function () {
            var val = $(this).val();
            if (val && val.length > 0) {
                availabilityValues.push(val);
            }
        });

        if (availabilityValues.length === 2) {
            $.post('/coach/availability/add/' + availabilityValues.join(' '))
                .done(function availabilityAdded(data, textStatus, jqXHR) {
                })
                .fail(function availabilityAddFailed(jqXHR, textStatus, errorThrown) {
                    switch (jqXHR.status) {
                        case 409:
                            break;

                        default:
                            break;
                    }
                });
        }
    });

    $('#booked-availability button').click(function cancelBookedAppointment() {
        var $this = $(this),
            $parent = $this.parent(),
            $newSpan = $('<span />'),
            somethingHappenedClass = 'something-happened';

        $parent.find('span.' + somethingHappenedClass).remove();

        var appointmentCanceled = function () {
            $parent.html($newSpan.text('Appointment canceled.').html());
            setTimeout(function removeText() {
                if ($('.booked-appointment').length > 1) {
                    $parent.remove();
                } else {
                    $parent.html($newSpan.text('No booked appointments.').html());
                }
            }, 2000);
        };

        $.post('/appointments/cancel/' + $this.data('availabilitySlotId'))
            .done(function clientSuccessfullyAdded(data, textStatus, jqXHR) {
                appointmentCanceled();
            })
            .fail(function clientAddFailed(jqXHR, textStatus, errorThrown) {
                switch (jqXHR.status) {
                    case 404:
                        appointmentCanceled();
                        break;

                    default:
                        $parent.append($newSpan.addClass(somethingHappenedClass).text('Something happened, try again!'));
                        break;
                }
            });
    });

    $('#upcoming-availability button').click(function cancelBookedAppointment() {
        var $this = $(this),
            $parent = $this.parent(),
            $newSpan = $('<span />'),
            somethingHappenedClass = 'something-happened';

        $parent.find('span.' + somethingHappenedClass).remove();

        var appointmentDeleted = function () {
            $parent.html($newSpan.text('Appointment deleted.').html());
            setTimeout(function removeText() {
                if ($('.upcoming-appointment').length > 1) {
                    $parent.remove();
                } else {
                    $parent.html($newSpan.text('No booked appointments.').html());
                }
            }, 2000);
        };

        $.post('/appointments/delete/' + $this.data('availabilitySlotId'))
            .done(function deleteAppointmentSuccess(data, textStatus, jqXHR) {
                appointmentDeleted();
            })
            .fail(function deleteAppointmentFailed(jqXHR, textStatus, errorThrown) {
                switch (jqXHR.status) {
                    case 404:
                        appointmentDeleted();
                        break;

                    default:
                        $parent.append($newSpan.addClass(somethingHappenedClass).text('Something happened, try again!'));
                        break;
                }
            });
    });

    $('#potential-clients button').click(function addToClientele() {
        var $this = $(this),
            $parent = $this.parent(),
            $newSpan = $('<span />'),
            somethingHappenedClass = 'something-happened';

        $parent.find('span.' + somethingHappenedClass).remove();

        $.post('/coach/clients/add/' + $this.data('clientId'))
            .done(function clientSuccessfullyAdded(data, textStatus, jqXHR) {
                $this.remove();
                $('#no-existing-clients').remove();
                $('#existing-clients').append($parent);
            })
            .fail(function clientAddFailed(jqXHR, textStatus, errorThrown) {
                switch (jqXHR.status) {
                    case 409:
                        $this.replaceWith($newSpan.text('Looks like someone beat you to it...'));
                        break;

                    default:
                        $parent.append($newSpan.addClass(somethingHappenedClass).text('Something happened, try again!'));
                        break;
                }
            });
    });
</script>
{% endblock %}