{% extends "customer_layout.html" %}
{% block content %}
<div class="jumbo">
    <h2>{{ user.first_name }} {{ user.last_name }}'s Customer Profile</h2>
</div>
<hr />
<h3>Appointments</h3>
<div class="availability-container">
    <h4>Schedule appointment</h4>
    <div>
        {% if user.coach == None %}
        <div style="margin: 10px 5px;">
            <span>You don't have a coach yet.</span>
        </div>
        {% else %}
        <div id="no-coach-availability" style="margin: 10px 5px;" class="{{ '' if user.coach.get_upcoming_availability()|length == 0 else 'hidden' }}">
            <span>Your coach, {{ user.coach.first_name }}, has no upcoming availability. Please check back again later.</span>
        </div>
        <div id="coach-has-availability" class="{{ 'hidden' if user.coach.get_upcoming_availability()|length == 0 else '' }}">
            <div style="margin: 10px 5px;">
                <span>Your coach, {{ user.coach.first_name }}, is available for the following times. Please choose one from the list below.</span>
            </div>
            <div id="book-appointment-control">
                <select>
                    {% for availability in user.coach.get_upcoming_availability() %}
                    <option value="{{ availability.slot_id }}">{{ availability.get_window_display_text() }}</option>
                    {% endfor %}
                </select>
                <button style="margin-left: 15px;">Book</button>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="availability-container"><!-- extra spacer --></div>
<div class="availability-container"><!-- extra spacer --></div>
<div class="availability-container">
    <h4 class="expandable">Booked appointments</h4>
    <div id="booked-availability">
        <div id="no-booked-appointments" class="{{ '' if slots_for_ux['booked']|length == 0 else 'hidden' }}">
            <span>No booked appointments.</span>
        </div>
        {% for slot in slots_for_ux['booked'] %}
        <div class="booked-appointment">
            <div class="appointment-display-text">
                <span class="display-text">{{ slot['display_text'] }}</span>
            </div>
            <button data-id="{{ slot['id'] }}">Cancel</button>
        </div>
        {% endfor %}
    </div>
</div>
<div class="availability-container">
    <h4 class="expandable">Past appointments</h4>
    <div id="past-availability">
        <div id="no-past-appointments" class="{{ '' if slots_for_ux['past']|length == 0 else 'hidden' }}">
            <span>No past appointments.</span>
        </div>
        {% for slot in slots_for_ux['past'] %}
        <div class="past-appointment">
            <div class="appointment-display-text">
                <span class="display-text">{{ slot['display_text'] }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/template" id="booking-added">
    <div class="booked-appointment">
        <div class="appointment-display-text">
            <span class="display-text"></span>
        </div>
        <button data-id="*#*id*#*">Cancel</button>
        <span class="success-notification"><i>Appointment booked!</i></span>
    </div>
</script>
<script type="text/javascript">
    arivale.customer.initialize();
</script>
    {% endblock %}
