body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* Signup form */
form label {
    width: 100px;
}
form input#firstname,
form input#lastname,
form input#email,
form input#password {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}
 
form input#password {
  margin-bottom: 10px;
}

#add-availability-control input::-webkit-inner-spin-button, 
#add-availability-control input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.availability-container { margin: 20px 0; }

div[id$="-availability"] div[class$="-appointment"],
div[id$="-clients"] div[class$="-client"] {
    height: 30px;
    margin: 5px 0;
}
div[id$="-availability"] div[class$="-appointment"]:first-of-type,
div[id$="-clients"] div[class$="-client"]:first-of-type {
    margin-top: 0;
}
div[id$="-availability"] div[class$="-appointment"]:last-of-type,
div[id$="-clients"] div[class$="-client"]:last-of-type {
    margin-bottom: 0;
}

div[id$="-availability"] div[class$="-appointment"] .appointment-display-text,
div[id$="-clients"] div[class$="-client"] .client-display-text {
    display:inline-block;
    width: 35%;
}

div[id$="-availability"] div[class$="-appointment"] button {
}